
header
{
  background-color: rgb(53, 53, 189);
  color: white;
  text-align: center;
  border: 2px solid black;
}

#centerDiv
{
  border-top: 1em solid rgb(152, 181, 235);
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#rightDiv
{

  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

section
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.justify
{
  text-align: justify;
}

p, h2
{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
}

#imageBox
{
  background-color: cornflowerblue;
  color:white;
  text-align: center;
  padding: 30px;
}


footer
{
  background-color: rgb(53, 53, 189);
  border: 2px solid black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 6rem;  
}