body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

header
{
  background-color: rgb(53, 53, 189);
  color: white;
  text-align: center;
  border: 2px solid black;
}

#centerDiv
{
  border-top: 1em solid rgb(152, 181, 235);
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  #centerDiv {
    width: auto;
  }
}

#rightDiv
{
text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  #rightDiv {
    width: auto;
  }
}

section
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.justify
{
  text-align: justify !important;
}

p, h2
{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
}

footer
{
  background-color: rgb(53, 53, 189);
  border: 2px solid black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 6rem;  
  margin-top: auto;
}